.DS\_Store
**/gensrc
**/bin
**/classes
**/eclipsebin
**/testclasses
**/extensioninfo.xsd
**/platformhome.properties
**/resources/items.xsd
**/resources/beans.xsd
**/resources/**/*-testclasses.xml
**/resources/*/*-testclasses.xml
**/resources/*/*-webtestclasses.xml
**/hmc/bin
**/hmc/classes
**/hmc/resources/hmc.xsd
**/web/addonsrc
**/web/testsrc
**/web/testclasses
**/web/webroot/_ui/addons
**/web/webroot/WEB-INF/classes
**/web/webroot/WEB-INF/messages/addons
**/web/webroot/WEB-INF/tags/addons
**/web/webroot/WEB-INF/tld/addons
**/web/webroot/WEB-INF/views/addons
**/web/commonwebsrc
**/reports
.idea/misc.xml
.idea/workspace.xml
dummy.txt
README
**/.settings
**/.lastupdate
**/cmscockpit
**/cockpit

cartOptimization/resources/cartOptimization-items.xml
